.expenseItems{
    /* border:2px groove blue; */
    background: grey;
    width:auto;
    overflow: auto;
    box-sizing: content-box;
   /* margin-bottom: 4px; */
margin:20px;
}
.container:after{
    margin: 4px;
}
.expenseItem
{
    float:left;
    box-sizing: border-box;
    width:33%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding:10px;
    margin:auto;
    text-align: center;
}
/* .date{
    box-shadow: 2px groove yellow;
    border: 2px inset grey;
} */